<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmitTask()" #fTask="ngForm">
        <div class="form-group">
          <label for="emailTask">Email</label>
          <input type="emailTask" id="emailTask" name="emailTask" class="form-control" ngModel #emailTask="ngModel" required email>
          <span class="help-block" *ngIf="!emailTask.valid && emailTask.touched">Please enter a valid email!</span>
        </div>
        <div class="form-group">
          <label for="subscriptions">Subscriptions</label>
          <select id="subscriptions" name="subscriptions" class="form-control" [ngModel]="'advanced'" #subscriptions="ngModel">
            <option value="basic">Basic</option>
            <option value="advanced">Advanced</option>
            <option value="pro">Pro</option>
          </select>
          <span class="help-block" *ngIf="!subscriptions.valid && subscriptions.touched">Please enter a valid email!</span>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control" ngModel required #password="ngModel">
          <span class="help-block" *ngIf="!password.valid && password.touched">Please enter a password!</span>
        </div>
        <p class="help-block" *ngIf="!fTask.valid && fTask.touched">Form invalid!</p>

        <button class="btn btn-primary" [disabled]="!fTask.valid">Submit Task</button>
      </form>

    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" class="form-control" ngModel name="username" required>
          </div>
          <button class="btn btn-default" type="button" (click)="suggestUserName()">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input type="email" id="email" class="form-control" ngModel name="email" required email #email="ngModel">
          </div>
          <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid value!</span>
        </div>
        <p class="help-block" *ngIf="!userData.valid && userData.touched">User data is invalid!</p>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select id="secret" class="form-control" [ngModel]="'pet'" name="secret">
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div class="form-group">
          <textarea class="form-control" name="questionAnswer" rows="3" [(ngModel)]="answer"></textarea>
        </div>
        <p>Reply: {{ answer }}</p>
        <div class="form-group">
          <div class="radio" *ngFor="let gender of genders">
            <label>
              <input type="radio" name="gender" ngModel [value]="gender" required>{{ gender }}
            </label>
          </div>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
      </form>
    </div>
  </div>
  <hr>
  <div class="row" *ngIf="submitted">
    <div class="col">
      <h3>Your Data</h3>
      <p>Username: {{ user.username }}</p>
      <p>Mail: {{ user.email }}</p>
      <p>Secret Question: {{ user.secretQuestion }}</p>
      <p>Answer: {{ user.answer }}</p>
      <p>Gender: {{user.gender }} </p>
    </div>
  </div>
</div>